<!DOCTYPE html>
<html>
<head>
    <title>Image Uploader</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <a href="/">
        <button>主页</button>
    </a>
    <a href="/annotation/{{dirpath}}?id={{id-1}}">
        <button>上一副</button>
    </a>
    <a href="/annotation/{{dirpath}}?id={{id+1}}">
        <button>下一副</button>
    </a>
    <div id="image-container">
        {% for image_path in image_paths %}
            <img id="Image" src="{{ url_for('static', filename=image_path) }}" alt="Image">
        {% endfor %}
    </div>
    <button id="sendButton">发送点位数据</button>
    <script type="text/javascript">
        $(document).ready(function(){
            var points = []; // 用于保存用户点击的点位坐标的数组
            // 获取图片的点击事件
            $('#image-container').bind('click', function(e) {
            // 获取用户点击的坐标
            var x = e.clientX;
            var y = e.clientY;
            var label=0;
            // 将坐标添加到数组中
            points.push({x: x, y: y, label:label});
            });

    
            // 将保存的点位数据发送到后端
            $('#sendButton').bind('click', function() {
            // 获取图片的src属性值
            var imageSrc = $('#Image').attr('src');
            var sendData = {
                points: points,
                imageSrc:imageSrc
              };
            // 发送点位数据到后端
            $.ajax({
                type: 'POST',
                url: '/handle_autosegment',  // 后端处理点击事件的路由
                data: JSON.stringify(sendData), // 将点位数据打包成JSON格式发送到后端
                contentType: 'application/json;charset=UTF-8',
                success: function(data) {
                // 处理后端返回的响应数据
                console.log(data);
                }
            });
            });
        });
      </script>
</body>
</html>
